/* styles.css */

.main {
    max-width: 1500px; /* Adjust this value to set the desired width */
    margin: 0 auto; /* Centers the container */
    padding: 20px;
}

/* Center align the file uploader and make it smaller */
.css-1cpxqw2 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
    margin: 0 auto;
}

/* Adjust the spacing between the title and the file uploader */
.css-10trblm {
    margin-bottom: 0;
}

/* Set a larger container width for the DataFrame */
.stDataFrame {
    height: 90vh;
    margin-top: 20px;
}

/* Style for column layout */
.css-1d391kg, .css-ocqkz7 {
    margin-top: 10px;
}

/* Adjusting the size of the dataframe */
.stDataFrame { 
    height: 700px !important; 
    width: 95% !important; 
    margin: auto !important;
}

/* Centering the title */
.stTitle {
    text-align: center !important;
}

/* Adjusting select boxes to align in a row */
.stSelectbox, .stMultiselect {
    display: inline-block;
    width: 23%; /* Adjust width as needed for select boxes */
    margin-right: 1%;
}

/* General app styling */
body {
    background-color: #f9f9f9;
    font-family: Arial, sans-serif;
}

.streamlit-expanderHeader {
    font-size: 20px;
}

.dataframe th {
    min-width: 150px;  /* Set minimum width for column headers */
}

.dataframe td {
    min-width: 100px;  /* Set minimum width for column cells */
}
